mat-opt-group{
    background-color: red;
}

footer{
    position: absolute;
}

#grid{
    justify-content: center;
    align-items: center;
    align-content: center;
}

#grid>table{
    justify-self: center;
    margin-left: 30%;
}